In [1]:
# connect to personal drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#load necessary libraries
import pandas as pd
import numpy as np

In [16]:
df= pd.read_csv("/content/drive/MyDrive/UTRECHT UNIVERISTY/THESIS/DATA/Question_corpus.csv", encoding='unicode_escape')
df.head()

,ID,Source,Authors,Year,Title,Page,Question
0,1.0,Competency questions,"Haiqi, Nyamsuren",2019.0,IAOA Summer Institute on Places and Things,NaN,Which houses are for sale in Utrecht
1,2.0,Competency questions,"Haiqi, Nyamsuren",2019.0,IAOA Summer Institute on Places and Things,NaN,Which houses have construction year between 19...
2,3.0,Competency questions,"Haiqi, Nyamsuren",2019.0,IAOA Summer Institute on Places and Things,NaN,What houses are for sale and within 0.5km from...
3,4.0,Competency questions,"Haiqi, Nyamsuren",2019.0,IAOA Summer Institute on Places and Things,NaN,What houses are for sale and within 1km from t...
4,5.0,Competency questions,"Haiqi, Nyamsuren",2019.0,IAOA Summer Institute on Places and Things,NaN,What houses are for sale and within 1km from t...

In [17]:
df = df.drop(df.iloc[:, 0:6], axis=1)

In [18]:
df.head()

                                            Question
0               Which houses are for sale in Utrecht
1  Which houses have construction year between 19...
2  What houses are for sale and within 0.5km from...
3  What houses are for sale and within 1km from t...
4  What houses are for sale and within 1km from t...

In [69]:
# export clean questions as csv file
df.to_csv(r'df_questions.csv', index=False)

In [29]:
# export clean questions as txt file
df.to_csv(r'df_questions.txt', header=None, index=None, doublequote = False, sep='\t', mode='w')

# Unified core concept tags creation

In [33]:
core_df= pd.read_csv("/content/drive/MyDrive/UTRECHT UNIVERISTY/THESIS/DATA/core_concept_dictionary.csv", encoding='unicode_escape')
core_df.head()

              Tokens             CCT     MSRLV
0              house          object       NaN
1             houses          object       NaN
2  construction year  object quality  interval
3             school          object       NaN
4        supermarket          object       NaN

In [34]:
len(core_df.CCT.unique())

21

In [35]:
core_df.CCT.unique()

array(['object', 'object quality', 'field', 'event', 'network',
       'conAmount', 'Object conAmount', 'Object', 'covAmount',
       'event quality', 'proportion', 'CovPro', 'amount',
       'Event conAmount', 'Event', 'location', 'objconobjconpro',
       'objconobjcovpro', 'eveconobjconpro', 'object conAmount',
       'eveconobjcovpro'], dtype=object)

In [36]:
coredf = core_df.copy()
coredf.head()

              Tokens             CCT     MSRLV
0              house          object       NaN
1             houses          object       NaN
2  construction year  object quality  interval
3             school          object       NaN
4        supermarket          object       NaN

In [37]:
#create core concept type abbreviation
ncct = []
for i in coredf.CCT[0:665]:
  if i =="object" or i=='Object':
    ncct.append("OBJ")
  elif i== "event" or i=="Event":
    ncct.append("EVE")
  elif i=="field":
    ncct.append("FLD")
  elif i=="network":
    ncct.append("NET")
  elif i=="object quality":
    ncct.append("OBJQ")
  elif i=="ammount":
    ncct.append("A")
  elif i=="proportion":
    ncct.append("PROP")
  elif i=="location":
    ncct.append("LOC")
  elif i=="conAmount":
    ncct.append("CNA")
  elif i=="covAmount":
    ncct.append("CVA")
  elif i=="Object conAmount":
    ncct.append("OBJCNA")
  elif i=="event quality":
    ncct.append("EVEQ")
  elif i=="CovPro":
    ncct.append("CVPR")
  elif i=="Event conAmount":
    ncct.append("EVECNA")
  elif i=="objconobjconpro":
    ncct.append("OCOCNP")
  elif i=="objconobjcovpro":
    ncct.append("OCOCVP")
  elif i=="eveconobjconpro":
    ncct.append("EVECOCNP")
  elif i=="object conAmount":
    ncct.append("OBJCNA")
  else:
    ncct.append("EVECOCVP")

coredf["N_CCT"] = ncct
coredf.head()

              Tokens             CCT     MSRLV N_CCT
0              house          object       NaN   OBJ
1             houses          object       NaN   OBJ
2  construction year  object quality  interval  OBJQ
3             school          object       NaN   OBJ
4        supermarket          object       NaN   OBJ

In [38]:
len(core_df.MSRLV.unique())

11

In [39]:
core_df.MSRLV.unique()

array([nan, 'interval', 'nominal', 'count', 'ratio', 'boolean', 'loc',
       'ordinal', 'ERA', 'IRA', 'ira'], dtype=object)

In [40]:
#create measurement level abbreviation
msr = []
for i in coredf.MSRLV[0:665]:
  if i =="interval":
    msr.append("I")
  elif i== "nominal" :
    msr.append("N")
  elif i=="count":
    msr.append("C")
  elif i=="ratio":
    msr.append("R")
  elif i=="boolean":
    msr.append("B")
  elif i=="loc":
    msr.append("L")
  elif i=="ordinal":
    msr.append("O")
  elif i=="ERA":
    msr.append("ER")
  elif i=="IRA" or i=="ira":
    msr.append("IR")
  else:
    msr.append(" ")

coredf["N_MSRLV"] = msr
coredf.head()

              Tokens             CCT     MSRLV N_CCT N_MSRLV
0              house          object       NaN   OBJ
1             houses          object       NaN   OBJ
2  construction year  object quality  interval  OBJQ       I
3             school          object       NaN   OBJ
4        supermarket          object       NaN   OBJ

In [41]:
# create unified tags from CCT and MSRLV
coredf["U_Tag"] = coredf['N_CCT']+ coredf['N_MSRLV'] 
coredf.head()

              Tokens             CCT     MSRLV N_CCT N_MSRLV  U_Tag
0              house          object       NaN   OBJ           OBJ
1             houses          object       NaN   OBJ           OBJ
2  construction year  object quality  interval  OBJQ       I  OBJQI
3             school          object       NaN   OBJ           OBJ
4        supermarket          object       NaN   OBJ           OBJ

In [63]:
coredf.head(30)

               Tokens             CCT     MSRLV N_CCT N_MSRLV  U_Tag
0               house          object       NaN   OBJ           OBJ
1              houses          object       NaN   OBJ           OBJ
2   construction year  object quality  interval  OBJQ       I  OBJQI
3              school          object       NaN   OBJ           OBJ
4         supermarket          object       NaN   OBJ           OBJ
5             schools          object       NaN   OBJ           OBJ
6        supermarkets          object       NaN   OBJ           OBJ
7         urban areas           field   nominal   FLD       N   FLDN
8       neighborhoods          object       NaN   OBJ           OBJ
9        neighborhood          object       NaN   OBJ           OBJ
10          residents          object       NaN   OBJ           OBJ
11           resident          object       NaN   OBJ           OBJ
12              parks          object       NaN   OBJ           OBJ
13               park          object       NaN   OBJ           OBJ
14   five star hotels          object       NaN   OBJ           OBJ
15    five star hotel          object       NaN   OBJ           OBJ
16        ski resorts          object       NaN   OBJ           OBJ
17         ski resort          object       NaN   OBJ           OBJ
18              shops          object       NaN   OBJ           OBJ
19               shop          object       NaN   OBJ           OBJ
20              cafes          object       NaN   OBJ           OBJ
21               cafe          object       NaN   OBJ           OBJ
22              cafés          object       NaN   OBJ           OBJ
23               café          object       NaN   OBJ           OBJ
24     forested areas           field   nominal   FLD       N   FLDN
25         ski pistes          object       NaN   OBJ           OBJ
26          ski piste          object       NaN   OBJ           OBJ
27             hotels          object       NaN   OBJ           OBJ
28              hotel          object       NaN   OBJ           OBJ
29  individual crimes           event       NaN   EVE           EVE

In [64]:
coredf2 = coredf.copy()
coredf2

                   Tokens             CCT     MSRLV N_CCT N_MSRLV  U_Tag
0                   house          object       NaN   OBJ           OBJ
1                  houses          object       NaN   OBJ           OBJ
2       construction year  object quality  interval  OBJQ       I  OBJQI
3                  school          object       NaN   OBJ           OBJ
4             supermarket          object       NaN   OBJ           OBJ
..                    ...             ...       ...   ...     ...    ...
660  waste disposal place          object       NaN   OBJ           OBJ
661            containers          object       NaN   OBJ           OBJ
662             container          object       NaN   OBJ           OBJ
663    rowboat containers          object       NaN   OBJ           OBJ
664     rowboat container          object       NaN   OBJ           OBJ

[665 rows x 6 columns]

In [65]:
# keep only noun-noun phrases  and U_tags
coredf2 = coredf2.drop(coredf2.iloc[:, 1:5], axis=1)

In [66]:
# preserve noun phrases as unified
coredf2.head()

              Tokens  U_Tag
0              house   OBJ
1             houses   OBJ
2  construction year  OBJQI
3             school   OBJ
4        supermarket   OBJ

In [67]:
# export new core concept dictionary as csv file
coredf2.to_csv(r'core_concept_u_tags.csv', index=False)

In [68]:
# export clean questions as txt file
coredf2.to_csv(r'core_conceot_u_tags.txt', header=None, index=None, doublequote = False, sep='\t', mode='w')

In [53]:
coredf3 =coredf2.copy()
coredf3.head()

              Tokens  U_Tag
0              house   OBJ
1             houses   OBJ
2  construction year  OBJQI
3             school   OBJ
4        supermarket   OBJ

In [54]:
#break noun phrases to single nouns e.g. 'construction', 'year'
coredf3 = coredf3.drop('Tokens', axis=1).join(coredf3['Tokens'].str.split(' ', expand=True).stack().reset_index(level=1, drop=True).rename('Tokens'))

In [55]:
col = coredf3.pop("Tokens")
coredf3.insert(0, col.name, col)

In [56]:
coredf3.head(20)

           Tokens  U_Tag
0           house   OBJ
1          houses   OBJ
2    construction  OBJQI
2            year  OBJQI
3          school   OBJ
4     supermarket   OBJ
5         schools   OBJ
6    supermarkets   OBJ
7           urban   FLDN
7           areas   FLDN
8   neighborhoods   OBJ
9    neighborhood   OBJ
10      residents   OBJ
11       resident   OBJ
12          parks   OBJ
13           park   OBJ
14           five   OBJ
14           star   OBJ
14         hotels   OBJ
15           five   OBJ

-----------------------------------------------------------------------------


-------------------------------------------------------------------------------